#################
## IDEA
#################

.idea/
.idea_modules/
*.iml
out/
target/

#################
## Eclipse
#################

*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.apt_generated/
.apt_generated_tests/
!.mvn/wrapper/maven-wrapper.jar
.externalToolBuilders/
*.launch
.cproject
.buildpath
builder.xml
build.xml

#################
## VS Code
#################

.vscode/

#################
## OS
#################

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

#################
## Build / local
#################

.gradle/
build/
*.log
run/
server/
.env
.env.*

# graphify
graphify-out/
